# MySQL DB Connection
MYSQL_DB_HOST=
MYSQL_DB_USER=
MYSQL_DB_PASSWORD=
MYSQL_DB_DATABASE=

# OpenAI Credentials
OPENAI_API_KEY=

# LangFuse Credentials
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=

# Qdrant Credentials
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=